@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import "tailwindcss";

@layer ovv {
    * {
        font-family: "Orbitron", sans-serif;
    }
    .ntext {
        font-family: sans-serif;
    }

    body {
        @apply bg-zinc-950 text-zinc-50 overflow-x-hidden;
    }

    .inp-primary, .inp-primary-n input {
        @apply !bg-pink-600 !border-pink-400 hover:!border-pink-300 focus:!border-pink-200 !border-1 placeholder:!text-zinc-300;
    }

    .inp-primary.invalid {
        @apply !border-red-700 !text-red-100;
    }

    .but-primary {
        @apply !bg-pink-600 hover:!bg-pink-500 focus:!bg-pink-400 !text-zinc-50;
    }

    .menu-primary div {
        @apply !bg-pink-500;
    }

    .modal .p-button {
        @apply !bg-pink-500 hover:!bg-pink-400 focus:!bg-pink-300 !text-zinc-50;
    }
    
    .inp-n {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: textfield !important;
    }

    #jamala1 input {
        width: 33.33%;
    }

    #jamala2 input {
        width: 50%;
    }
}

@layer novv {

}
.flicker-in-1{-webkit-animation:flicker-in-1 2s linear both;animation:flicker-in-1 2s linear both}
@-webkit-keyframes flicker-in-1{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}@keyframes flicker-in-1{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}